/*------------
 google font  
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*-----------
 common style 
-------------*/

*{
    padding: 0;
    margin: 0;
    
}

/*----------------------
 top-part style 
-----------------*/
.top-part{
    background: #3341A1;
    
}
nav > ul{
    display: flex;
    
}
.nav-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
.nav-items li{
    list-style: none;
    margin-right: 20px;
}
.nav-items li a{
    text-decoration: none;
    color: #fff;
}

.login button{
    background-color: #E14A6D;
    border: 0;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}



.copa-main{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    padding: 80px 0px;
}
.copa-content h1{
    color: #fff;
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    padding: 15px 0px;
}

.copa-content button{
    background-color: #E14A6D;
    border: 0;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}
.copa-thumbnail img{
    width: 522px;
    
}



/*--------
 player style 
----------*/
.main-container{
    margin-top: 60px;
}

.container{
    width: 55%;
    margin: auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 25px;
    margin-bottom: 25px;
    
    
}
.player{
    box-shadow: 5px 7px 40px rgb(214, 212, 212);
    padding: 15px;
    margin-bottom: 21px;
}
.player img{
    width: 300px;
    height: 256px;
}

.player-title{
    font-size: 28px;
    color: #18191F;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px;
}

.player-description{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: normal;
    text-align: justify;
    line-height: 26px;
}

/*------------
 highlight part style 
-------------*/
.highlight-main{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    padding: 80px 0px;
}
.highlight-content h1{
    color: #0A0826;
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    padding: 15px 0px;
}
.highlight-content p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 15px;
    text-align: justify;
}
.highlight-content button{
    background-color: #E14A6D;
    border: 0;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}
.highlight-thumbnail img{
    width: 522px;
    
}




.footer-content{
    text-align: center;
}
.footer-content img{
    width: 483.87px;
    height: 110px;
}
.icons{
    margin-bottom: 15px;
}
.icons i{
    margin: 10px;
    color: gray;
    background: rgb(224, 221, 221);
    padding: 8px;
    border-radius: 50%;
}
.footer-content span{
    color:#000000;
    font-size: 18px;
    padding: 20px 0px;
}

/* Top part stysle */



/*----------------
 media queries 
---------------*/

/*------------------ Mobile device ------------------- */

@media only screen and (max-width:688px) {

    .nav-main{
        display: none;
    }

    .highlight-main{
       
        
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 50px;
        padding: 80px 3px;
    }
    .container {
        width: 90%;
        margin: auto;
    }
    .copa-main{
       
        grid-template-columns: repeat(1,1fr); 
    }

    .copa-content {
        text-align: center;
    }
    .copa-content h1 {
        font-size: 30px;
        text-align: center;
        color: #fff;
    }
    .copa-content button {
        
        margin-bottom: 25px;
    }
    .copa-thumbnail img {
        width: 337px;
    }
    .players{    
        grid-template-columns: repeat(1,1fr);   
        margin-bottom: 0px;  
    }

    .player{
        text-align: center;
        
    }
    
    .highlight-content h1 {
        font-size: 44px;
        text-align: center;
    }
    .highlight-content button {
        
        margin-bottom: 25px;
    }
    .highlight-thumbnail img {
        width: 345px;
    }
    .footer-content img {
        width: 295.87px;
        
    }
    
    
}

/* tablet device media queries */

@media only screen and (min-width:688px) and (max-width:992px){


    .nav-main{
        display: none;
    }

    .highlight-main{
       
        
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 50px;
        padding: 80px 0px;
    }
    .container {
        width: 90%;
        margin: auto;
    }
    
    .copa-main{
        grid-template-columns: repeat(2,1fr);   
    }

    .copa-content h1 {
        font-size: 30px;
        
        color: #fff;
    }
    .copa-content button {
        
        margin-bottom: 25px;
    }
    .copa-thumbnail img {
        width: 337px;
    }
    .players{    
        grid-template-columns: repeat(2,1fr);   
        margin-bottom: 0px;  
        grid-row-gap: 25px;
        
    }

    .player{
       text-align: center;
        margin-bottom: 0px;
    }
    
    .highlight-content h1 {
        font-size: 30px;
    }
    .highlight-content button {
        
        margin-bottom: 25px;
    }
    .highlight-thumbnail img {
        width: 420px;
    }
    .footer-content img {
        width: 295.87px;
        
    }
    

}